<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dane do analizy</title>
    <style>
      label{
        display: block;
      }
    </style>
</head>
<body>
  <h1>Wprowadź dane</h1>
  <form method="post" action="/save">
    <label>
      Masa przed tarciem:
      <input name="massBeforeFriction" type="text" pattern="[0-9]+([,.][0-9]+)?" step="any">
    </label>
    <label>
      Masa po tarciu:
      <input name="massAfterFriction" type="text" pattern="[0-9]+([,.][0-9]+)?" step="any">
    </label>
    <label>
      Siła nacisku:
      <input name="pressureForce" type="text" pattern="[0-9]+([,.][0-9]+)?" step="any">
    </label>
      <br>
    <button type="submit">Zapisz dane</button>
  </form>
</body>
</html>