<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <title>Dane do analizy</title>
    <link rel="stylesheet" href="../static/addByFormStyle.css" th:href="@{addByFormStyle.css}">
</head>
<body>
  <h1>Wprowadź dane</h1>
  <form method="post" action="/save">
    <label>
      Masa przed tarciem [g]:
      <input name="massBeforeFriction" type="text" pattern="[0-9]+([,.][0-9]+)?" step="any">
    </label>
    <label>
      Masa po tarciu [g]:
      <input name="massAfterFriction" type="text" pattern="[0-9]+([,.][0-9]+)?" step="any">
    </label>
    <label>
      Siła nacisku [N]:
      <input name="pressureForce" type="text" pattern="[0-9]+([,.][0-9]+)?" step="any">
    </label>
    <button class="button" type="submit">Zapisz dane</button>
  </form>
  <button class="button" onclick="window.location.href='/'">Wróć</button>
</body>
</html>