<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dodaj plik</title>
    <style>
        body {
            background-color: #f5f5dc;
            margin: 0;
            padding: 0;
        }

        button {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
  <h1>Dodaj plik</h1>
  <form method="post" action="/save-file">
      <label>
          Nazwa pliku:
          <input name="fileName" type="text" step="any">
      </label>
      <button type="submit">Wprowadź plik</button>
  </form>
  <br>
  <button onclick="window.location.href='/'">Wróć</button>
</body>
</html>