<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wprowadzone dane</title>
    <link rel="stylesheet" href="../static/dataViewStyle.css" th:href="@{dataViewStyle.css}">
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <h1>Wprowadzone dane oraz wyniki kalkulacji</h1>

  <div class="horizontal-buttons">
    <button onclick="window.location.href='/add-by-keyboard'">Wprowadź dane</button>
    <button onclick="window.location.href='/add-by-file'">Wprowadź dane z pliku</button>
    <button onclick="window.location.href='/'">Wróć</button>
  </div>

  <section th:unless="${data.getMassBeforeFriction() eq 0.0 or data.getMassAfterFriction() eq 0.0 or data.getPressureForce() eq 0.0}">
    <h3>Poniżej znajdują się wprowadzone dane: </h3>
    <p>Masa przed tarciem = <span th:text="${data.getMassBeforeFriction()}">10.0</span>g</p>
    <p>Masa po tarciu = <span th:text="${data.getMassAfterFriction()}">1.0</span>g</p>
    <p>Siła nacisku = <span th:text="${data.getPressureForce()}">100.0</span>N</p>

    <h3>Wyliczenia dotyczące masy: </h3>
    <p>&Delta;m = <span th:text="${deltaMass}">9.0</span>g</p>
    <p>&Delta;m [%] = <span th:text="${deltaMassInPercent}">90.0</span>%</p>

    <h3>Wyliczenia dotyczące siły: </h3>
    <div th:unless="${fileDataList.isEmpty()}">
      <p>Średnia siła tarcia = <span th:text="${averageForce}">23.23</span>N</p>
      <p>Współczynnik tarcia= <span th:text="${coefficientFriction}">63.0</span>&micro;</p>
    </div>
    <h4 th:if="${fileDataList.isEmpty()}" style="color: indianred">
      Średnia siła i współczynnik tarcia zostaną wyliczone po wprowadzeniu danych z pliku
    </h4>

  </section>

  <h2 th:if="${data.getMassBeforeFriction() eq 0.0 or data.getMassAfterFriction() eq 0.0 or data.getPressureForce() eq 0.0}"
      style="color: indianred">Brak danych od użytkownika</h2>

  <hr>

  <section th:unless="${fileDataList.isEmpty()}">
    <h2>Wykresy:</h2>
    <div class="horizontal-buttons">
      <button onclick="showDiv(1)">Wykres siły tarcia od czasu</button>
      <button onclick="showDiv(2)">Wykres głębokość wytarcia od czasu</button>
      <button onclick="showDiv(3)">Wykres temperatury od czasu</button>
      <button onclick="showDiv(4)">Pokaż wszystkie wykresy</button>
    </div>

    <div id="div1" style="overflow-x:scroll; height:490px;">
      <h2>Wykres siły tarcia od czasu</h2>
      <section class="chart-section-for-frictionForce">
        <canvas id="myChart1"></canvas>
        <script th:inline="javascript">
          var dataList1 = /*[[${fileDataList}]]*/ [];
          var timeArray1 = dataList1.map(function (data) { return data.time; });
          var frictionForceArray = dataList1.map(function (data) { return data.frictionForce; });

          var containerWidth = dataList1.length <= 1002 ? "100%" : (dataList1.length) + "px";

          var ctx = document.getElementById('myChart1').getContext('2d');
          var myChart1 = new Chart(ctx, {
            type: 'line',
            data: {
              labels: timeArray1,
              datasets: [{
                label: 'Siła tarcia',
                data: frictionForceArray,
                borderColor: 'rgb(0,41,182)',
                borderWidth: 1,
                fill: false
              }]
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              scales: {
                x: {
                  type: 'linear',
                  position: 'bottom',
                  scaleLabel: {
                    display: true,
                    labelString: 'Czas [s]'
                  }
                },
                y: {
                  min: 0,
                  scaleLabel: {
                    display: true,
                    labelString: 'Siła tarcia [N]'
                  }
                }
              }
            }
          });
           if(dataList1.length >= 1002){
             document.querySelector('.chart-section-for-frictionForce').style.width = containerWidth;
           }
        </script>
      </section>
    </div>
    <div id="div2" class="hidden">
      <h2>Wykres głębokość wytarcia od czasu</h2>
      <section class="chart-section">
        <canvas id="myChart2" width="800" height="400"></canvas>
        <script th:inline="javascript">
          var dataList2 = /*[[${fileDataList}]]*/ [];
          var timeArray2 = dataList2.map(function (data) { return data.time; });
          var penetrationDepthArray = dataList2.map(function (data) { return data.penetrationDepth; });

          var ctx = document.getElementById('myChart2').getContext('2d');
          var myChart2 = new Chart(ctx, {
            type: 'line',
            data: {
              labels: timeArray2,
              datasets: [{
                label: 'Głębokość wytarcia',
                data: penetrationDepthArray,
                borderColor: 'rgb(12,138,0)',
                borderWidth: 1,
                fill: false
              }]
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              scales: {
                x: {
                  type: 'linear',
                  position: 'bottom',
                  scaleLabel: {
                    display: true,
                    labelString: 'Czas [s]'
                  }
                },
                y: {
                  min: 0,
                  scaleLabel: {
                    display: true,
                    labelString: 'Głębokość wytarcia [mm]'
                  }
                }
              }
            }
          });
        </script>
      </section>
    </div>
    <div id="div3" class="hidden">
      <h2>Wykres temperatury od czasu</h2>
      <section class="chart-section">
        <canvas id="myChart3" width="800" height="400"></canvas>
        <script th:inline="javascript">
          var dataList3 = /*[[${fileDataList}]]*/ [];
          var timeArray3 = dataList3.map(function (data) { return data.time; });
          var temperatureArray = dataList3.map(function (data) { return data.temperature; });

          var ctx = document.getElementById('myChart3').getContext('2d');
          var myChart3 = new Chart(ctx, {
            type: 'line',
            data: {
              labels: timeArray3,
              datasets: [{
                label: 'Temperatura',
                data: temperatureArray,
                borderColor: 'rgb(168,0,0)',
                borderWidth: 1,
                fill: false
              }]
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              scales: {
                x: {
                  type: 'linear',
                  position: 'bottom',
                  scaleLabel: {
                    display: true,
                    labelString: 'Czas [s]'
                  }
                },
                y: {
                  min: 0,
                  scaleLabel: {
                    display: true,
                    labelString: 'Temperatura [°C]'
                  }
                }
              }
            }
          });
        </script>
      </section>
    </div>
    <script th:inline="javascript">
      function showDiv(divNumber) {
        var divs = document.querySelectorAll('[id^="div"]');

        for (var i = 0; i < divs.length; i++) {
          if (divNumber === 4 || i + 1 === divNumber) {
            divs[i].style.display = 'block';
          } else {
            divs[i].style.display = 'none';
          }
        }
      }
    </script>
  </section>

  <h2 th:if="${fileDataList.isEmpty()}" style="color: indianred">Brak danych do wyświetlenia wykresów</h2>

  <hr>

  <section th:unless="${fileDataList.isEmpty()}">
    <h3 class="center">Poniżej znajduje się tabela z wynikami otrzymanymi z próby:</h3>
    <div class="center">
      <table>
        <thead>
        <tr>
          <td>Czas [s]</td>
          <td>Siła tarcia [N]</td>
          <td>Głębokość wytarcia [mm]</td>
          <td>T [°C]</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="fileData: ${fileDataList}" th:object="${fileData}">
          <td th:text="*{time}">0.000</td>
          <td th:text="*{frictionForce}">22.752</td>
          <td th:text="*{penetrationDepth}">5.625</td>
          <td th:text="*{temperature}">17.596</td>
        </tr>
        </tbody>
      </table>
    </div>
  </section>
  <h2 th:if="${fileDataList.isEmpty()}" style="color: indianred">Brak danych z pliku</h2>
</body>
</html>